@model UpdateSettingDto
@{
    ViewData["Title"] = "UpdateSettings";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="content">
    <div class="container-fluid">
        <h4 class="page-title">Ayarlar İşlemleri</h4>
        <div class="row">
            <div class="col-md-12">
                <form method="post">
                    <div class="card">
                        <div class="card-header">
                            <div class="card-title">Ayarlar Güncelleme İşlemleri</div>
                        </div>
                        <div class="card-body">
                            <div class="form-group">
                                <input type="hidden" class="form-control" asp-for="SettingsId" />
                                <label for="title">Başlık Giriniz</label>
                                <input type="text" class="form-control" asp-for="Site_Title" id="title">
                            </div>
                            <div class="form-group">
                                <label for="description">Meta Açıklama Giriniz</label>
                                <textarea rows="5" class="form-control" asp-for="Meta_Description"></textarea>
                            </div>
                            <div class="form-group">
                                <label for="imageurl">Meta Anahtarı Giriniz</label>
                                <input type="text" class="form-control" asp-for="Meta_Keywords" id="imageurl">
                            </div>
                            <div class="form-group">
                                <label for="imageurl">Logoyu Seçiniz</label>
                                <input type="file" class="form-control" asp-for="Logo_Url" id="imageurl">
                            </div>
                            <div class="form-group">
                                <label for="imageurl">Facebook</label>
                                <input type="text" class="form-control" asp-for="Facebook_Url" id="imageurl">
                            </div>
                            <div class="form-group">
                                <label for="imageurl">Instagram</label>
                                <input type="text" class="form-control" asp-for="Instagram_Url" id="imageurl">
                            </div>
                            <div class="form-group">
                                <label for="imageurl">Twitter</label>
                                <input type="text" class="form-control" asp-for="Twitter_Url" id="imageurl">
                            </div>
                            <div class="form-group">
                                <label for="imageurl">Telefon Numarası</label>
                                <input type="text" class="form-control" asp-for="Phone" id="imageurl">
                            </div>
                            <div class="form-group">
                                <label for="imageurl">Adres</label>
                                <textarea rows="5" class="form-control" asp-for="Address" id="imageurl"></textarea>
                            </div>
                            <div class="card-action">
                                <button class="btn btn-primary">Ayarlar Yazısını Güncelle</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

