@model UpdatePropertiesDto
@{
    ViewData["Title"] = "UpdateProperties";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="card-body" style="max-height: 600px; overflow-y: auto;">

    <div class="content">
        <div class="container-fluid">
            <h4 class="page-title">Ana Sayfa Ürün İşlemleri</h4>
            <div class="row">
                <div class="col-md-12">
                    <form method="post">
                        <div class="card">
                            <div class="card-header">
                                <div class="card-title">Yeni Ürün Girişi</div>
                            </div>
                            <div class="card-body">
                                <div class="form-group">
                                    <input type="hidden" asp-for="PropertiesId" />
                                    <label for="title">Başlık Giriniz</label>
                                    <input type="text" class="form-control" asp-for="Title" id="title">
                                </div>
                                <div class="form-group">
                                    <label for="description">Açıklama Giriniz</label>
                                    <textarea rows="5" class="form-control" asp-for="Description"></textarea>
                                </div>
                                <div class="form-group">
                                    <label for="imageurl">Seo Giriniz</label>
                                    <input type="text" class="form-control" asp-for="Slug_Seo" id="imageurl">
                                </div>
                                <div class="form-group">
                                    <label for="title">Fiyat Giriniz</label>
                                    <input type="text" class="form-control" asp-for="Price" id="title">
                                </div>
                                <div class="form-group">
                                    <label for="title">Boyut</label>
                                    <input type="text" class="form-control" asp-for="Size" id="title">
                                </div>
                                <div class="form-group">
                                    <label for="title">Garaj Boyutu</label>
                                    <input type="text" class="form-control" asp-for="Garage_Size" id="title">
                                </div>
                                <div class="form-group">
                                    <label for="title">Yatak Odası Sayısı</label>
                                    <input type="text" class="form-control" asp-for="Bedrooms" id="title">
                                </div>
                                <div class="form-group">
                                    <label for="title">Banyo Sayısı</label>
                                    <input type="text" class="form-control" asp-for="Bathrooms" id="title">
                                </div>
                                <div class="form-group">
                                    <label for="title">Oda Sayısı</label>
                                    <input type="text" class="form-control" asp-for="Rooms" id="title">
                                </div>
                                <div class="form-group">
                                    <label for="title">Garaj Sayısı</label>
                                    <input type="text" class="form-control" asp-for="Garage_Count" id="title">
                                </div>
                                <div class="form-group">
                                    <label for="title">Yapım Yılı</label>
                                    <input type="text" class="form-control" asp-for="Build_Year" id="title">
                                </div>
                                <div class="form-group">
                                    <label for="title">Ürün Tipi</label>
                                    <input type="text" class="form-control" asp-for="Property_Type" id="title">
                                </div>
                                <div class="form-group">
                                    <label for="title">Durumu</label>
                                    <input type="text" class="form-control" asp-for="Status" id="title">
                                </div>
                                <div class="form-group">
                                    <label for="title">Temsilci Seçiniz</label>
                                    <select class="form-control" asp-for="AgentsId" asp-items="ViewBag.AgentOptions">
                                        <option value="">-- Temsilci Seçin --</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="title">Şehir Giriniz</label>
                                    <input type="text" class="form-control" asp-for="City" id="title>
                                </div>
                                <div class="form-group">
                                    <label for="title">Durumu</label>
                                    <input type="text" class="form-control" asp-for="State" id="title>
                                </div>
                                <div class="form-group">
                                    <label for="title">Ülke Giriniz</label>
                                    <input type="text" class="form-control" asp-for="Country" id="title>
                                </div>
                                <div class="form-group">
                                    <label for="title">Zip Kodu</label>
                                    <input type="text" class="form-control" asp-for="Zip_Code" id="title>
                                </div>
                                <div class="form-group">
                                    <label for="title">Yayınlama Tarihi</label>
                                    <input type="datetime" class="form-control" asp-for="Created_Time" id="title>
                                </div>
                                <div class="form-group">
                                    <label for="title">Kapak Fotoğrafı</label>
                                    <input type="file" class="form-control" asp-for="MainPicture" id="title>
                                </div>
                                <div class="form-group">
                                    <br />
                                    <label for="title">1. Fotoğraf</label>
                                    <input type="file" class="form-control" asp-for="Picture1" id="title>
                                </div>
                                <div class="form-group">
                                    <br />
                                    <label for="title">2. Fotoğraf</label>
                                    <input type="file" class="form-control" asp-for="Picture2" id="title>
                                </div>
                                <div class="form-group">
                                    <br />
                                    <label for="title">3. Fotoğraf</label>
                                    <input type="file" class="form-control" asp-for="Picture3" id="title>
                                </div>
                                <div class="form-group">
                                    <br />
                                    <label for="title">4. Fotoğraf</label>
                                    <input type="file" class="form-control" asp-for="Picture4" id="title>
                                </div>
                                <div class="form-group">
                                    <br />
                                    <label for="title">5. Fotoğraf</label>
                                    <input type="file" class="form-control" asp-for="Picture5" id="title>
                                </div>
                                <div class="form-group">
                                    <br />
                                    <label for="title">6. Fotoğraf</label>
                                    <input type="file" class="form-control" asp-for="Picture6" id="title>
                                </div>
                                <div class="form-group">
                                    <br />
                                    <label for="title">7. Fotoğraf</label>
                                    <input type="file" class="form-control" asp-for="Picture7" id="title>
                                </div>
                                <div class="form-group">
                                    <br />
                                    <label for="title">8. Fotoğraf</label>
                                    <input type="file" class="form-control" asp-for="Picture8" id="title>
                                </div>
                                <div class="form-group">
                                    <br />
                                    <label for="title">9. Fotoğraf</label>
                                    <input type="file" class="form-control" asp-for="Picture9" id="title>
                                </div>
                                <div class="card-action">
                                    <br />
                                    <button class="btn btn-primary">Ürünü Güncelle</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

